/* You can add global styles to this file, and also import other style files */
.main-container {
  background-image: url("assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: "Lucida Console", "Courier New", monospace;
  color: aliceblue;
}

.mono-font {
  font-family: "Lucida Console", "Courier New", monospace;
  color: aliceblue;
  font-size: 2em;
}

a {
  color: white;
  text-decoration: none; /* no underline */
}
