<p-card>
  <p-carousel [value]="listings" [numVisible]="3" [numScroll]="1"
              [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
      <p class="mono-font p-text-center">Top listings</p>
    </ng-template>
    <ng-template let-listing pTemplate="item">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{listing.category.name}}</span>
            </div>
          </div>
          <div class="product-grid-item-content">
            <img [src]="'assets/logo.png'" [alt]="listing.name" style="max-width: 100px; max-height: 100px"/>
            <div class="product-name">{{listing.name}}</div>
            <div class="product-description">
              <a [routerLink]="['/listings', listing.id, 'update']">
                Details <i class="pi pi-link product-category-icon"></i>
              </a>
            </div>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">{{listing.currency.symbol + listing.price}}</span>
            <div class="car-buttons p-mt-5">
              <a [routerLink]="['/listings', listing.id, 'update']">
                <p-button type="button" styleClass="p-button p-button-rounded p-mr-2"
                          icon="pi pi-info-circle"></p-button>
              </a>
              <a [routerLink]="['/listings', listing.id, 'update']">
                <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2"
                          icon="pi pi-heart"></p-button>
              </a>
              <a [routerLink]="['/listings', listing.id, 'update']">
                <p-button type="button" styleClass="p-button p-button-rounded p-mr-2"
                          icon="pi pi-shopping-cart"></p-button>
              </a>
            </div>
          </div>
        </div>
    </ng-template>
  </p-carousel>
</p-card>
