<p-progressSpinner *ngIf="loading"></p-progressSpinner>

<div *ngIf="!loading" class="p-grid">
  <div class="p-col-8">
    <div class="p-grid p-flex-column">
      <div class="p-col">
        <p-card>
          <app-galleria [images]="images"></app-galleria>
        </p-card>
      </div>
      <div class="p-col">
        <p-card>
          <div class="p-grid p-flex-column">
            <div class="p-col">
              <div class="p-grid">
                <div class="p-col-8">
                  <p class="mono-font">{{listing.name}}</p>
                </div>
                <div class="p-col-4">
                  <div class="p-text-right car-buttons p-mt-5">
                    <a [routerLink]="['/listings']">
                      <p-button type="button" styleClass="p-button-danger p-button-rounded p-mr-2"
                                icon="pi pi-star-o"></p-button>
                    </a>
                    <a [routerLink]="['/listings']">
                      <p-button type="button" styleClass="p-button p-button-rounded p-mr-2"
                                icon="pi pi-shopping-cart"></p-button>
                    </a>
                  </div>
                </div>
                <div class="p-col">
                  <p style="font-size: 1.5em;">Price: {{listing.currency.symbol}}{{listing.price | number : '1.2-2'}}</p>
                </div>
              </div>
            </div>
          </div>
          <p-divider></p-divider>
          <p style="font-size: 1.5em;">Description</p>
          <p style="font-size: 1em">{{listing.description}}</p>
        </p-card>
      </div>
      <div class="p-col">
        <p-card>
          <div class="p-grid p-flex-column">
            <div class="p-col">
              <div class="p-grid">
                <div class="p-col p-jc-start">
                  <p>Send a message to {{owner.userName}}</p>
                </div>
              </div>
            </div>
            <div class="p-col">
              <textarea rows="5" cols="30" pInputTextarea [autoResize]="true"
                        [placeholder]="'Write your message here'" [(ngModel)]="message"></textarea>
            </div>
            <div class="p-col">
              <div class="p-text-right">
                <p-button type="button" styleClass="p-button p-mr-2" label="Message"
                          icon="pi pi-envelope" (onClick)="sendMessage(owner._id)"></p-button>
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
  <div class="p-col-4">
    <div class="p-grid p-flex-column">
      <div class="p-col">
        <p-card>
          <div class="p-grid p-flex-column">
            <div class="p-col">
              <p style="font-size: 1.5em">Seller</p>
            </div>
            <div class="p-col">
              <div class="p-d-flex">
                <div class="p-mr-2">
                  <p-avatar label="{{owner.userName.substring(0, 3)}}" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
                </div>
                <div class="p-mr-2">
                  <p>{{owner.userName}}</p>
                  <p>Phone: {{owner.phone}}</p>
                </div>
              </div>
            </div>
            <div class="p-col">
              <p>Other listings from this user</p>
            </div>
          </div>
        </p-card>
      </div>
      <div class="p-col">
        <p-card *ngIf="!!address">
          <div class="p-grid p-flex-column">
            <div class="p-col">
              <p style="font-size: 1.5em">Seller location</p>
            </div>
            <div class="p-col">
              <div class="p-grid p-flex-column">
                <div class="p-col">
                  Country: {{address.country}}
                </div>
                <div class="p-col">
                  City: {{address.city}}
                </div>
                <div class="p-col">
                  Street: {{address.street}}, no.{{address.number}}
                </div>
                <div class="p-col">
                  Other: {{address.other}}
                </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
