<p-card *ngIf="!loading">
  <div class="p-grid" style="height: 700px;">
    <div class="p-col-3" style="margin-top: 8px;">
      <div class="p-grid p-flex-column">
        <div *ngFor="let room of rooms | async">
          <div (click)="getRoom(room._id)">
            <div class="p-grid p-flex-column" [ngClass]="{'current-room': !!currentRoom && currentRoom._id === room._id}">
              <div class="p-col">
                <div class="p-grid chat-entry">
                  <div class="p-col p-text-left">
                    {{getUserName(getReceiver(room))}}
                  </div>
                  <div class="p-col p-text-right">
                    {{room.messages[room.messages.length - 1].createdAt | date: 'd/M/yy, h:mm a'}}
                  </div>
                </div>
              </div>
              <div class="p-col">
                <div class="p-col p-text-left">
                  {{getContentForList(room.messages[room.messages.length - 1])}}
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="p-col-9 current-room">
      <div *ngIf="!currentRoom">
        Select a room
      </div>
      <div class="container-messages" *ngIf="currentRoom">
        <div class="messages">
          <div class="p-grid p-flex-column">
            <div *ngFor="let message of currentRoom.messages" class="p-col">
              <p-card *ngIf="message.sender === (me.id || me._id)" styleClass="me">
                <div class="p-text-left">
                  {{message.content}}
                </div>
                <div class="p-text-right">
                  {{message.createdAt | date: 'd/M/yy, h:mm a'}}
                </div>
              </p-card>
              <p-card *ngIf="message.sender !== (me.id || me._id)">
                <div class="p-text-left">
                  {{message.content}}
                </div>
                <div class="p-text-right">
                  {{message.createdAt | date: 'd/M/yy, h:mm a'}}
                </div>
              </p-card>
            </div>
          </div>
        </div>
        <div style="margin-top: 50px;">
          <div class="send-message p-grid">
            <div class="p-col-11">
              <input type="text" pInputText [(ngModel)]="message" placeholder="Enter new message...">
            </div>
            <div class="p-col-1 p-text-right">
              <button pButton pRipple type="button" class="p-button p-button-rounded"
                      icon="pi pi-send" iconPos="right" (click)="sendMessage(getReceiver(currentRoom))"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-card>
