.card {
  text-align: center;
  background: #1F2D40;
  padding: 2rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.mono-font {
  font-family: "Lucida Console", "Courier New", monospace;
  color: aliceblue;
  font-size: 2em;
}
