<div class="card">
  <p class="mono-font">Categories</p>
  <a [routerLink]="['']">
    <p-avatar icon="pi pi-user" styleClass="p-mr-4" size="xlarge" shape="circle"
              [style]="{'background-color':'#ffffff', 'color': '#000000'}"></p-avatar>
  </a>
  <a [routerLink]="['']">
    <p-avatar icon="pi pi-user" styleClass="p-mr-4" size="xlarge" shape="circle"
              [style]="{'background-color':'#ffffff', 'color': '#000000'}"></p-avatar>
  </a>
  <a [routerLink]="['']">
    <p-avatar icon="pi pi-user" styleClass="p-mr-4" size="xlarge" shape="circle"
              [style]="{'background-color':'#ffffff', 'color': '#000000'}"></p-avatar>
  </a>
  <a [routerLink]="['']">
    <p-avatar icon="pi pi-user" styleClass="p-mr-4" size="xlarge" shape="circle"
              [style]="{'background-color':'#ffffff', 'color': '#000000'}"></p-avatar>
  </a>
  <a [routerLink]="['']">
    <p-avatar icon="pi pi-user" styleClass="p-mr-4" size="xlarge" shape="circle"
              [style]="{'background-color':'#ffffff', 'color': '#000000'}"></p-avatar>
  </a>
  <a [routerLink]="['']">
    <p-avatar icon="pi pi-user" styleClass="p-mr-4" size="xlarge" shape="circle"
              [style]="{'background-color':'#ffffff', 'color': '#000000'}"></p-avatar>
  </a>
</div>
