<p-toast></p-toast>

<p-card>
  <div style="text-align: center;">
    <div class="p-grid p-flex-column">
      <p class="mono-font">{{!listingId ? 'Add new listing' : 'Edit listing'}}</p>
      <div class="p-col-6 p-offset-3">
        <span class="p-float-label">
          <input type="text" id="name" name="name" aria-describedby="name-help"
                 pInputText [(ngModel)]="newListing.name">
          <label for="name">Name</label>
        </span>
      </div>
      <p-divider></p-divider>
      <div class="p-col-6 p-offset-3">
        <span class="p-float-label">
          <textarea id="description" [rows]="3" pInputTextarea [(ngModel)]="newListing.description"></textarea>
          <label for="description">Description</label>
        </span>
      </div>
      <p-divider></p-divider>
      <div class="p-col-6 p-offset-3">
        <span class="p-float-label">
          <p-dropdown inputId="category" [autoDisplayFirst]="false" [options]="categoriesData"
                      optionLabel="name" optionValue="code" [(ngModel)]="newListing.category_id"></p-dropdown>
          <label for="category">Category</label>
        </span>
      </div>
      <p-divider></p-divider>
      <div class="p-col-6 p-offset-3">
        <span class="p-float-label">
          <p-dropdown inputId="platform" [autoDisplayFirst]="false" [(ngModel)]="newListing.platform_code"
                      optionLabel="name" optionValue="code" [options]="platformsData"></p-dropdown>
          <label for="platform">Platform</label>
        </span>
      </div>
      <p-divider></p-divider>
      <div class="p-col-6 p-offset-3">
        <span class="p-float-label">
          <p-inputNumber [(ngModel)]="newListing.price" inputId="price" mode="decimal" [minFractionDigits]="2"
                         [maxFractionDigits]="2">
          </p-inputNumber>
          <label for="price">Price</label>
        </span>
      </div>
      <p-divider></p-divider>
      <div class="p-col-6 p-offset-3">
        <span class="p-float-label">
          <p-dropdown inputId="currency" [autoDisplayFirst]="false" [(ngModel)]="newListing.currency_code"
                      optionLabel="name" optionValue="code" [options]="currenciesData"></p-dropdown>
          <label for="currency">Currency</label>
        </span>
      </div>
      <p-divider></p-divider>
      <div class="p-col-8 p-offset-2">
        <div>
          Photos
        </div>
        <p-fileUpload name="files" [fileLimit]="5" [showUploadButton]="false" (onSelect)="updateFiles($event)"
                      [customUpload]="true" accept="image/*" [multiple]="multiple" [maxFileSize]="maxFileSize"
                      [files]="uploadedFiles" (onRemove)="removeFile($event)" (onClear)="uploadedFiles = []">
          <ng-template pTemplate="content">
          </ng-template>
        </p-fileUpload>
      </div>
      <p-divider></p-divider>
      <div class="p-col-6 p-offset-3">
        <div class="p-grid p-text-center">
          <div class="p-col">
            <div class="p-field-checkbox">
              <p-checkbox [binary]="true" inputId="negotiable" [(ngModel)]="newListing.is_negotiable"></p-checkbox>
              <label for="negotiable">Price negotiable</label>
            </div>
          </div>
          <div class="p-col">
            <div class="p-field-checkbox">
              <p-checkbox [binary]="true" inputId="digital" [(ngModel)]="newListing.is_digital"></p-checkbox>
              <label for="digital">Digital content</label>
            </div>
          </div>
          <div class="p-col">
            <div class="p-field-checkbox">
              <p-checkbox [binary]="true" inputId="sealed" [(ngModel)]="newListing.is_sealed"></p-checkbox>
              <label for="sealed">Product sealed</label>
            </div>
          </div>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="p-col-6 p-offset-3">
        <div class="p-grid p-jc-center">
          <div class="p-col-2">
            <button pButton pRipple type="button" label="Submit" class="p-button-success"
                    icon="pi pi-check" iconPos="right" (click)="submit($event)"></button>
          </div>
          <div class="p-col-2" [ngStyle]="{'display': !listingId ? 'none' : 'block'}">
            <button pButton pRipple type="button" label="Delete" class="p-button-danger"
                    icon="pi pi-trash" iconPos="right" (click)="delete($event)"></button>
          </div>
          <div class="p-col-2">
            <button pButton pRipple type="button" label="Cancel" class="p-button-warning"
                    icon="pi pi-times" iconPos="right" (click)="cancel($event)"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-card>
