<p-card>
  <p-dataView #dv [value]="listings" [paginator]="true" [rows]="9" filterBy="name" layout="grid"
    [sortField]="sortField" [sortOrder]="sortOrder">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter(getValueFromEvent($event))">
        </span>
        <p-dropdown [options]="sortOptions" placeholder="Sort By Price" [showClear]="true"
                    (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
        <p-dropdown [options]="categoryOptions" placeholder="Filter by category" [showClear]="true"
                    (onChange)="filterByCategory($event)"></p-dropdown>
        <p-dropdown [options]="platformOptions" placeholder="Filter by platform" [showClear]="true"
                    (onChange)="filterByPlatform($event)"></p-dropdown>
      </div>
    </ng-template>
    <ng-template let-listing pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <img [src]="getImage(listing)" [alt]="listing.name" style="max-width: 150px; max-height: 150px"/>
          <div class="product-list-detail">
            <div class="product-name">{{listing.name}}</div>
            <div class="product-description">{{listing.category.name}}</div>
            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{listing.platform.full_name}}</span>
          </div>
          <div class="product-list-action">
            <div class="product-price">
              {{listing.currency.symbol}}{{listing.price}}
            </div>
            <div class="car-buttons p-mt-5">
              <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"
                        (onClick)="goToDetailPage(listing.id)"></p-button>
              <p-button *ngIf="!mine" type="button" styleClass="p-button p-button-rounded p-mr-2"
                        icon="pi pi-shopping-cart" (onClick)="goToCreateOrderPage(listing.id)"></p-button>
              <p-button *ngIf="mine" type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-pencil"
                        (onClick)="goToUpdatePage(listing.id)"></p-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-listing pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{listing.platform.full_name}}</span>
            </div>
            <div class="product-badge p-text-right">
              <p-button *ngIf="favorites.has(listing.id)" type="button" (onClick)="removeFavourite(listing.id)"
                        styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
              <p-button *ngIf="!favorites.has(listing.id)" type="button" (onClick)="addFavourite(listing.id)"
                        styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star-o"></p-button>
            </div>
          </div>
          <div class="product-grid-item-content">
            <img [src]="getImage(listing)" [alt]="listing.name" style="width: 250px; height: 200px"/>
            <div class="product-name">{{listing.name}}</div>
            <div class="product-description">{{listing.category.name}}</div>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">{{listing.currency.symbol}}{{listing.price}}</span>
            <div class="car-buttons p-mt-5">
              <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"
                        (onClick)="goToDetailPage(listing.id)"></p-button>
              <p-button *ngIf="!mine" type="button" styleClass="p-button p-button-rounded p-mr-2"
                        icon="pi pi-shopping-cart" (onClick)="goToCreateOrderPage(listing.id)"></p-button>
              <p-button *ngIf="mine" type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-pencil"
                        (onClick)="goToUpdatePage(listing.id)"></p-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</p-card>
