<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>

<p-card>
  <p-table *ngIf="!loading" [value]="orders">
    <ng-template pTemplate="header">
      <tr>
        <th>Order no.</th>
        <th>Listing</th>
        <th>Price</th>
        <th>Status</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{order._id | slice:0:6}}</td>
        <td>
          {{getListingName(order._id)}}
          <a [routerLink]="['/listings', getListingId(order._id), 'details']"><i class="pi pi-external-link"></i></a>
        </td>
        <td>{{order.currency}}{{order.totalAmount | number: '1.2-2'}}</td>
        <td>{{order.status}}</td>
        <td>
          <p-button type="button" styleClass="p-button p-button-rounded p-mr-2 p-button-danger" icon="pi pi-trash"
                    (onClick)="deleteOrder(order._id)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
