<p-card>
  <p-tabView styleClass="tabview-custom">
    <p-tabPanel>
      <ng-template pTemplate = "header">
        <span>Users &nbsp;</span>
        <i class="pi pi-user"></i>
      </ng-template>
      <app-admin-users></app-admin-users>
    </p-tabPanel>
    <p-tabPanel header="Header II">
      <ng-template pTemplate = "header">
        <span>Listings &nbsp;</span>
        <i class="pi pi-tags"></i>
      </ng-template>
      <app-admin-listings></app-admin-listings>
    </p-tabPanel>
    <p-tabPanel header="Header III">
      <ng-template pTemplate = "header">
        <span>Orders &nbsp;</span>
        <i class="pi pi-shopping-cart"></i>
      </ng-template>
      <app-admin-orders></app-admin-orders>
    </p-tabPanel>
  </p-tabView>
</p-card>
